* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.5;
  background: white;
  color: black;
  padding: 0;
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  background: gray;
  border-bottom: 1px solid turquoise;
  padding: 16px 32px;
  position: sticky;
  top: 0;
  z-index: 100;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 20px;
  color: aquamarine;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 24px;
  ;
}

.nav-list a {
  padding-block: 3px;
  border-bottom: 2px solid transparent;
}

.nav-list a:active,
.nav-list a:hover {
  border-color: aqua;
  color: aquamarine;
}

.perfil {
  text-align: center;
  padding: 48px 32px;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: whitesmoke;
  margin-bottom: 16px;
}

.perfil h1 {
  font-size: 36px;
  margin-bottom: 8px;
}

.subtitulo {
  color: aquamarine;
  font-size: 20px;
}

section {
  padding: 32px;
  max-width: 800px;
  margin: auto
}

section h2 {
  color: aquamarine;
  font-weight: bold;
  margin-bottom: 16px;
}

.about-me {
  padding: 5px;
}

.projects-list {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax (240px 1fp));
}

.projects-card {
  background: antiquewhite;
  border-radius: 10px;
  border-left: 5px solid aqua;
  animation: aparecer 3s alternate forwards;
}

@keyframes aparecer {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.skills-list u {
  color: turquoise;
  font-weight: bold;
}

.contact-icons img {
  width: 100%;
}

.contact-icons {
  width: 80px;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 20px;
}